.username {
    display: flex;
    padding: 24px;
    h4 {
        margin-bottom: 0;
    }
}

.room {
    position: relative;
    border-left: 1px solid lightgray;
    .__empty {
        margin-top: 48px;
    }
    .__textarea {
        border-top: 1px solid lightgray;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }
    .messages {
        padding-right: 12px;
        padding-left: 12px;
        height: calc(100vh - 279px);
        overflow-y: scroll;
    }
}

.chat-rooms {
    .__skeleton {
        padding-right: 12px;
        padding-left: 12px;
    }
    .__alert {
        margin-right: 12px;
        margin-left: 12px;
    }
}

/** OVERRIDE **/
.ant-typography-secondary {
    font-size: 80%;
}